@import "tailwindcss";

@theme {
  /* color */
  --color-primary-100: #001F3F;
  --color-primary-200: #FF851B;
  --color-primary-300: #2972BB;
  
  /* font */
  --font-cabin: var(--font-cabin);
  --font-shareTech: var(--font-shareTech);
  --font-RC: var(--font-RC);
  --font-playfair: var(--font-playfair);
  --font-inter: var(--font-inter);


  /* breakpoints */
  --breakpoint-fold: 300px;
  --breakpoint-xxs: 480px;
  --breakpoint-xs: 600px;
  --breakpoint-sm: 820px;
  --breakpoint-md: 1024px;
  --breakpoint-lg: 1060px;
}
body {
  overflow-x: hidden;
}

/* Optional helper classes for convenience */
.font-inter {
  font-family: var(--font-inter);
}
.font-robotoCondensed {
  font-family: var(--font-RC);
}
.font-cabin {
  font-family: var(--font-cabin);
}
.font-playfair {
  font-family: var(--font-playfair);
}
.font-shareTech {
  font-family: var(--font-shareTech);
}
.active-link {
  color: #001F3F;
  /* color: #2972bb; */
  font-weight: 900;
}

.bg-gradient {
  background: radial-gradient(
    circle at center,
    /* circle farthest-corner, */
    /* var(--color-primary-100) 0%, */
    #fff 0%,
    var(--color-primary-100) 10%,
    transparent 60%,
    transparent 100%
  );
}

/* blob animation */
@keyframes blobPulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
};

.animate-blob {
  animation: blobPulse 8s ease-in-out infinite;
}

/* blob spin */
@keyframes blobSpin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-blobSpin {
  animation: blobSpin 60s linear infinite;
}
/* visible portion is controlled by the clip path value */
.clip {
  /* clip-path: circle(100% at -0% -0%); */
  clip-path: ellipse(100% 100% at 100% 50%);
 
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused;
}

.home-clip {
  clip-path: circle();
}

@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gradient-bg {
  background: linear-gradient(270deg, #001F3F, #FF851B);
  background-size: 400% 400%;
  animation: gradientFlow 20s ease infinite;
}


