@import "tailwindcss";

@theme {
  /* color */
  --color-primary-100: #001F3F;
  --color-primary-200: #FF851B;
  
  /* font */
  --font-cabin: var(--font-cabin);
  --font-shareTech: var(--font-shareTech);
  --font-RC: var(--font-RC);
  --font-playfair: var(--font-playfair);
  --font-inter: var(--font-inter);


  /* breakpoints */
  --breakpoint-fold: 300px;
  --breakpoint-xxs: 480px;
  --breakpoint-xs: 600px;
  --breakpoint-sm: 820px;
  --breakpoint-md: 1024px;
  --breakpoint-lg: 1060px;
}

/* Optional helper classes for convenience */
.font-inter {
  font-family: var(--font-inter);
}
.font-robotoCondensed {
  font-family: var(--font-RC);
}
.font-cabin {
  font-family: var(--font-cabin);
}
.font-playfair {
  font-family: var(--font-playfair);
}
.font-shareTech {
  font-family: var(--font-shareTech);
}
.active-link {
  color: #001F3F;
  font-weight: 900;
}