@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Share+Tech&display=swap');
@import "tailwindcss";

@theme {
  /* color */
  --color-primary-100: #001F3F;
  --color-primary-200: #FF851B;
  /* font */
  --font-cabin: "Cabin", sans-serif;
  --font-shareTech: "Share Tech", sans-serif;

  /* breakpoints */
  --breakpoint-fold: 300px;
  --breakpoint-xxs: 480px;
  --breakpoint-xs: 600px;
  --breakpoint-sm: 820px;
  --breakpoint-md: 1024px;
  --breakpoint-lg: 1060px;
}